/* ./src/index.css */
@tailwind base;
@tailwind components;
@tailwind utilities;
.btn-q{
  @apply w-8 h-8 border rounded-full shadow md:w-12 md:h-12;
}
.cart-text{
  @apply flex justify-between md:flex-col md:justify-start
}
.fx-col {
  @apply flex flex-col;
}
.fx-row {
  @apply flex flex-row;
}
.fx-i {
  @apply flex items-center;
}
.fx-i-jc {
 @apply flex items-center justify-center;
}
.fx-i-jb {
  @apply flex items-center justify-between;
}
.active-tab {
  @apply  font-bold border-b-2 border-gray-500 shadow-sm bg-gray-50;
}
.inacive-tab {
  @apply  font-bold text-gray-400 border-b-2 border-gray-50; 
}
.fsm-lg {
  @apply md:text-lg md:font-semibold;
}

option{
  
  max-width: 28rem/* 448px */  !important;
  overflow: hidden  !important;
  text-overflow: ellipsis  !important;
  white-space: nowrap  !important;

}
 
/* width */
#modal ::-webkit-scrollbar {
  width: 3px;
}

/* Track */
#modal ::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
#modal::-webkit-scrollbar-thumb {
  background: #888;
}

/* Handle on hover */
#modal::-webkit-scrollbar-thumb:hover {
  background: rgb(230, 226, 226);
}
.blue {
  background: #0069ff;
}
.blue:hover {
  background: #0069ff;
}

.text-title {
  color: #031b4e;
}
.tetx-sec {
  color: #405379;
}

.mwt{
  min-width: 100px;
}
.mwt-md{
  min-width: 200px;
}